.hero-banner {
    height: 500px;
}

.content {
    background: var(--dark);
    color: white;
    height: 100%;
}

.content-inner {
    height: 200px;
    padding: 50px;
}

.sides {
    height: inherit;
    background-image: url('/img/plates-header.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
}

.sides.left {
    background-position: 10%
}

.sides.right {
    background-position-x: 90%
}

.title {
    border-bottom: 1px solid white;
}